sudo: required
language: python
python:
  - '3.5.2'

addons:
  apt:
    packages:
    - sshpass
services:
  - docker

before_install:
  - docker --version
  - openssl aes-256-cbc -K $encrypted_83630750896a_key -iv $encrypted_83630750896a_iv -in postgres.env.enc -out app/postgres.env -d
  - docker-compose -p "$DOCKER_USERNAME"/ukshub:latest build
  - docker images

install:
  - pip install -r requirements/requirements.txt

script:
  - docker-compose up -d
  - docker exec uksprojekat_web_1 python3 manage.py test

after_success:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
  - docker push $DOCKER_USERNAME/ukshub:latest
