sudo: required
language: python
python:
  - '3.5.2'

addons:
  apt:
    packages:
    - sshpass
services:
  - docker

install:
  - pip install -r requirements.txt

script:
  - python tests.py

before_install:
  - docker --version
  - docker build -t $DOCKER_USERNAME/uksHub:latest .
  - docker images
  - openssl aes-256-cbc -K $encrypted_83630750896a_key -iv $encrypted_83630750896a_iv -in deploy_key.enc -out ./deploy_key -d

after_success:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
  - docker push $DOCKER_USERNAME/uksHub:latest
  - export SSHPASS=$DEPLOY_PASS
