{% extends "base_generic.html" %}
{% block content %}
    <div class="d-table mx-auto justify-content-center">
        <div>
            Are you sure you want to remove: {{ project.name }}?
        </div>
        <div class="d-flex justify-content-around p-2">
            <form action="" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-danger p-1" value="Confirm" />
            </form>
            <a href="{{ project.get_absolute_url }}" class="btn btn-secondary p-1">Cancel</a>
        </div>
    </div>
{% endblock content %}